/* Prompt: <ol> <li></li> </ol> How to put the number from li to a square box in a different place?" Source:Claude
Background by number:https://www.w3schools.com/cssref/sel_nth-child.php
Text shadow: https://www.shecodes.io/athena/22835-how-to-add-a-shadow-to-text-with-css#:~:text=To%20add%20a%20shadow%20to%20text%2C%20you%20can,the%20CSS%20text%2Dshadow%20property.&text=The%20text%2Dshadow%20property%20takes,the%20shadow%20to%20the%20left. */

body {
	margin: 0;
	font-family: "Lora", serif;
	font-weight: 300;
}

.picturediv {
	margin: 1rem;
	position: relative;
	height: 150px;
	overflow: hidden;
}

.picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header {
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: center;
	background-image: url("../images/beacon-hill.jpeg");
	background-size: cover;
	text-shadow: 2px 2px 2px #492000;
}

.title {
	padding: 70px 0;
}

.intro {
	text-align: center;
	color: black;
	font-weight: 300;
	font-size: 1.2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.place {
	font-weight: 400;
	color: #954535;
	font-size: 1.6rem;
}

.descript {
	font-size: 1.2rem;
}

.link {
	color: black;
	text-decoration-line: none;
}

.placesbox {
	list-style: none;
	/* Remove the default numbering */
	counter-reset: item;
	/* Initialize the counter */
	padding: 0;
}

.places {
	position: relative;
	counter-increment: item;
	/* Increment the counter */
	overflow: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

.places:nth-child(odd) {
	background-color: #fff8e7;
}

.places:before {
	position: absolute;
	right: 20%;
	top: 130px;
	z-index: 1;
	content: counter(item)".";
	/* Display the counter value */
	background-color: #954535;
	color: white;
	font-size: 1.3rem;
	padding: 10px 15px;

}

.tipsheader {
	color: #492000;
	font-size: 2.1rem;
	text-align: center;
	font-weight: 500;
}

.tips {
	font-size: 1.2rem;
	padding: 2rem;
	background-color: #fff8e7;
}

.additional {
	font-size: 1.2rem;
	padding: 2rem;
	background-color: #fff8e7;
}

.additionsection {
	color: #492000;
	font-size: 2.1rem;
	text-align: center;
	font-weight: 500;
}

.history {
	color: #954535;
	font-size: 1.6rem;
	font-weight: 400;
}

.architecture {
	color: #954535;
	font-size: 1.6rem;
	font-weight: 400;

}

.source {
	margin-left: 2rem;
}

@media screen and (width >=768px) {
	.placesbox {
		background-color: #fff8e7;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.places {
		width: 50%;
		box-sizing: border-box;
	}

	.places:before {
		right: 15%;
		top: 230px;
	}

	.picturediv {
		height: 250px;
	}

	.tips {
		background-color: #fefefe;
	}

	.additional {
		background-color: #fefefe;
	}

	.infobox {
		display: flex;
		flex-wrap: wrap;
	}

	.tipsbox {
		width: 50%;
		box-sizing: border-box;
	}

	.historybox {
		width: 50%;
		box-sizing: border-box;
		margin-top: 10rem;
	}

}

@media screen and (width >=1024px) {
	.title {
		padding: 100px 0;
	}

	.places:before {
		right: 15%;
		top: 340px;
	}

	.picturediv {
		height: 350px;
	}

	.placesbox {
		background-color: #fefefe;
	}

	.places:nth-child(1),
	.places:nth-child(2),
	.places:nth-child(5) {
		background-color: #fefefe;
	}

	.places:nth-child(3),
	.places:nth-child(4) {
		background-color: #fff8e7;
	}

	.tipsbox {
		width: 100%;
		box-sizing: none;
		padding-left: 5rem;
		padding-right: 5rem;
		background-color: #fff8e7;
	}

	.tips {
		background-color: #fff8e7;
	}

	.historybox {
		width: 100%;
		box-sizing: none;
		padding-left: 5rem;
		padding-right: 5rem;
		margin-top: 0;
	}
}